@import "../styles/variables";
@import "../styles/media";

// 비주얼 섹션
@keyframes draw-left {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-right {
  from {
    stroke-dashoffset: -800;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.visual-wrap.headline {
  position: sticky;
  top: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
  z-index: -1;
  @include mobile {
    height: 500px;
  }
  .title {
    &.left {
      color: $ieum-main;
      position: absolute;
      left: 2%;
      top: 35%;
    }
    &.right {
      color: $ieum-point;
      position: absolute;
      right: 2%;
      top: 60%;
    }
  }
  .wave-line {
    width: 100%;
    height: 100px;
    margin: auto 0;
    path {
      stroke-width: 20;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 1.5s ease-out forwards;
    }

    .blue-path {
      stroke: $ieum-main;
      animation-name: draw-left;
    }
    .yellow-path {
      stroke: $ieum-point;
      animation-name: draw-right;
      animation-delay: 0.2s;
    }
  }
}
// 자기소개 섹션
.Info-wrap {
  background-color: #fff;
  width: 100%;
  list-style: none;
  height: 800px;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 10% 0 15%;
  gap: 10%;
  margin: auto;
  @include tablet {
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 0;
  }
  @include mobile {
    flex-direction: column;
  }
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include tablet {
    }
    iframe {
      width: 110%;
      height: 18rem;
      border-radius: 20px;
      margin-bottom: 5%;
      @include tablet {
        width: 60%;
        height: 15rem;
      }
      @include mobile {
        width: 90%;
        height: 11rem;
      }
    }
    .Info-buttons {
      display: flex;
      gap: 5%;
      a {
        width: 15rem;
        height: 5rem;
        display: inline-flex;
        gap: 5%;
        justify-content: center;
        align-items: center;
        border: 3px solid #666;
        border-radius: 20px;
        text-decoration: none;
        color: #666;
        @include tablet {
          width: 12rem;
          height: 4rem;
        }
        @include mobile {
          width: 8rem;
          height: 3rem;
        }
        svg {
          width: 50px;
          height: 50px;
          color: #666;
          @include mobile {
            width: 30px;
            height: 30px;
          }
        }
        &:hover {
          color: black;
          border: 3px solid black;
          svg {
            color: black;
          }
        }
      }
    }
  }
  .profile {
    @include tablet {
      padding: 10% 14%;
    }
    @include mobile {
      padding: 15% 4%;
    }
    .Info-bullets {
      margin-top: 50px;
      margin-bottom: 50px;
      font-weight: 300;
      line-height: 1.5;
      @include mobile {
        margin: 20px 0;
      }
      b {
        color: $ieum-main;
      }
    }
  }
  .review {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
    display: flex;
    padding: 2%;
    align-items: flex-start;
    justify-content: center;
    gap: 2%;
    overflow: hidden;
    button {
      margin-top: 3%;
    }
    .review-wrap {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1%;
      z-index: 99999;
      height: auto;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 10px; // 세로 스크롤바만 적용
        height: 0; // 가로 스크롤바 제거 (추가 보완)
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $ieum-point;
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: content-box;
      }

      &::-webkit-scrollbar-button {
        display: none; // 화살표 버튼 제거
      }
      .review-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        padding: 5%;
        background-color: #fff;
        border-radius: 12px;
        margin-top: 5%;
        line-height: 1.5;
      }
    }
  }
}
