@import "../styles/variables";
@import "../styles/media";

.visual-wrap {
  width: 100%;
  height: 900px;
  position: relative;
  overflow: visible;
  @keyframes rotateblur {
    0% {
      transform: translate(-5%, -5%) scale(0.9) rotate(0deg);
      opacity: 0.3;
    }
    25% {
      transform: translate(5%, -3%) scale(1) rotate(90deg);
      opacity: 0.8;
    }
    50% {
      transform: translate(5%, 5%) scale(1.3) rotate(180deg);
      opacity: 0.6;
    }
    75% {
      transform: translate(-5%, 3%) scale(1) rotate(270deg);
      opacity: 0.8;
    }
    100% {
      transform: translate(-5%, -5%) scale(0.9) rotate(360deg);
      opacity: 0.3;
    }
  }
  h1 {
    z-index: 999999;
    position: absolute;
    top: 10%;
    left: 5%;
    letter-spacing: 30px;
    font-weight: 600;
  }
  .blue {
    width: 20%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: -5%;
    background: rgba(74, 144, 244, 1);
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
    animation: rotateblur 5s linear infinite;
    transform-origin: center;
  }
  .yellow {
    width: 20%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    right: -5%;
    background: rgba(254, 226, 116, 1);
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
    animation: rotateblur 3s linear infinite;
    transform-origin: center;
  }
  .txt {
    position: absolute;
    bottom: 20%;
    right: 5%;
    text-align: left;
    h2 {
      font-weight: 500;
    }
    .intro {
      list-style-type: disc;
      font-weight: 300;
      margin-top: 50px;
      color: #616161;
      line-height: 1.5;
      margin-left: 20px;
      b {
        color: $ieum-main;
      }
    }
  }
}
// 자기소개 섹션
.Info-wrap {
  width: 100%;
  height: 800px;
  // background-color: pink;
  padding: 50px 70px;
  @include tablet {
    height: auto;
    padding: 20px;
  }
  .info {
    max-width: 1620px;
    margin: auto;

    width: 100%;
    height: 100%;
    display: flex;
    padding: 3% 5%;
    gap: 20%;
    @include tablet {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    .left {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: 100%;
      }
      .photo {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: $ieum-main;
        margin-bottom: 40px;
      }
      .ment {
        width: 380px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
        padding: 6% 4%;
        text-align: center;
        line-height: 1.5;
        color: #757575;
      }
    }
    .right {
      width: 80%;
      display: flex;
      gap: 10%;
      @include tablet {
        width: 100%;
        flex-direction: column;
      }
      .main-h4 {
        color: $ieum-main;
        margin: 20px 0;
        font-size: 18px;
      }
      ul {
        margin: 20px 10px;
        li {
          font-size: 14px;
          font-weight: 500;
          margin: 5% 0;
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: space-between;
          span {
            color: #757575;
            text-align: right;
          }
          a {
            color: #212121;
          }
        }
      }
    }
  }
  .infotitle {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 20px 0;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: rgba(254, 226, 116, 0.5);
      border-radius: 50%;
      filter: blur(10px);
    }
  }
}
