@import "./reset";
@import "./variables";
@import "./layout";
@import "./Home";

@font-face {
  font-family: "Paperlogy";
  src: url("../assets/fonts/Paperlogy-1Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../assets/fonts/Paperlogy-2ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../assets/fonts/Paperlogy-3Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../assets/fonts/Paperlogy-4Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../assets/fonts/Paperlogy-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../assets/fonts/Paperlogy-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../assets/fonts/Paperlogy-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../assets/fonts/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../assets/fonts/Paperlogy-9Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "Paperlogy";
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inner {
  width: 100%;
  max-width: 1440px;
  // background-color: #f9ee54;
  margin: 0 auto;
}

button {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.quick-menu {
  position: fixed;
  right: 2%;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 999;

  .mail,
  .scrollTop {
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  color: #212121;
  &::-webkit-scrollbar {
    width: 15px; // 세로 스크롤바만 적용
    height: 0; // 가로 스크롤바 제거 (추가 보완)
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $ieum-point;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: lighten($ieum-point, 10%);
  }

  &::-webkit-scrollbar-button {
    display: none; // 화살표 버튼 제거
  }
}

#root > div {
  display: flex;
  flex-direction: column;
}

hr {
  border: none;
  border-top: 2px dashed $ieum-main;
  margin: 20px 0; /* 상하 여백 (선택사항) */
}
