@import "../styles/variables";
@import "../styles/media";
.main-wrap {
  max-width: 1920px;
  width: 100%;
  background-color: #fff;
  @include tablet {
    flex-direction: column;
    padding-top: 10%;
  }

  @include mobile {
    gap: 10px;
  }
  nav.maintab {
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
    text-align: center;
    ul {
      width: 100%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 2%;
    }
    li {
      cursor: pointer;
      color: #212121;
      transition: 0.3s;
      &.active,
      &:hover {
        color: #4a90f4;
        text-decoration: underline;
      }
    }
  }
  main {
    max-width: 1920px;
    width: 100%;
    @include tablet {
      height: auto;
    }
    #project {
      width: 100%;

      .top {
        width: 100%;
        height: 380px;
        position: relative;
        background: linear-gradient(to right, #b3c9e8, #dde8f5);
        overflow: hidden;
        @include tablet {
          height: 300px;
        }
        img {
          width: 100%;
          height: 100%;
          filter: blur(50px) brightness(0.85);
        }
        .txt {
          position: absolute;
          top: 24%;
          left: 10%;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: #f5f7fa;
          .toptitle {
            font-weight: 500;
          }
          p {
            font-weight: 300;
            span {
              margin-top: 10px;
              display: inline-block;
              text-wrap: wrap;
              width: 60%;
              color: #f5f7fa;
            }
          }
          .showmodal {
            display: inline-block;
            color: #f5f7fa;
            text-decoration: none;
            width: 180px;
            height: 50px;
            border: 2px solid #f5f7fa;
            border-radius: 30px;
          }
        }
      }
      .bottom {
        width: 100%;
        height: 300px;
        // background-color: pink;
        .txt {
          padding: 2% 10%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          @include tablet {
            width: 60%;
            padding: 2% 4%;
          }
        }
        .custom-controls {
          display: flex;
          justify-content: flex-end;
          gap: 16px;
          margin-top: -50px;
          padding-right: 20px;
          @include tablet {
            margin-top: 10px;
          }
          button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;

            img {
              width: 50px;
              height: 50px;
            }

            &:hover {
              transform: scale(1.05);
            }
          }
        }
        .swiper {
          max-width: 650px;
          margin-top: -500px;
          float: right;
          overflow: hidden;
          padding: 2%;
          @include tablet {
            max-width: 420px;
            margin-top: -340px;
          }
          @include mobile {
            max-width: 300px;
            margin-top: -300px;
          }
          .swiper-slide {
            display: flex;
            justify-content: center; // 가운데 정렬
            flex-wrap: wrap;
          }
          .project-card {
            background: #fff;
            border-radius: 20px;
            box-shadow: $shadow;
            width: 380px;
            height: 480px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow: hidden;
            justify-content: space-between;
            @include tablet {
              width: 280px;
              height: 380px;
            }
            @include mobile {
              width: 200px;
              height: 280px;
            }
            .stack-icons {
              width: 100%;
              display: flex;
              gap: 30px;
              .stack-icon {
                width: 30px;
                height: 30px;
                object-fit: contain;
              }
            }
            img {
              width: 100%;
              height: 40%;
              object-fit: cover;
            }
            .project-description {
              display: flex;
              flex-direction: column;
              padding: 0 5%;
              gap: 10%;
              align-items: flex-start;
              height: calc(60% / 2);
              .main-h5 {
                font-weight: 700;
              }
              p {
                color: #666;
                font-weight: 500;
              }
            }
            .stack-icons {
              display: flex;
              padding: 4%;
              gap: 8px;
              margin-top: 10px;
            }
          }
        }
      }
    }
    .skill {
      @include tablet {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: auto;
        padding: 2%;
      }

      ul.skilltab {
        width: 120%;
        height: auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          padding: 6% 8%;
          border-radius: 20px;
          box-shadow: $shadow;
          cursor: pointer;
          &.active {
            color: $ieum-main;
          }
        }
      }
      #skillweb {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
        padding: 4%;
        justify-content: space-around;
        @include tablet {
          display: inline-block;
          padding: 0;
        }

        .skill-list {
          background: #fff;
          border-radius: 20px;
          box-shadow: $shadow;
          width: 380px;
          height: 480px;
          display: flex;
          flex-direction: column;
          gap: 3%;
          flex-wrap: wrap;
          overflow: hidden;
          padding: 5%;
          @include tablet {
            display: none;
            &.visible {
              display: block;
            }
          }
          @include mobile {
            width: 280px;
            height: 380px;
          }
          ul {
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            gap: 4%;
            @include tablet {
              margin-top: 20px;
              gap: 20px;
            }
            li {
              display: flex;
              align-items: center;
              text-align: center;
              span.tool-icon {
                margin-right: 5%;
              }
            }
          }
        }
      }
    }
    .review-swiper {
      .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(
          --swiper-wrapper-transition-timing-function,
          initial
        );
        box-sizing: content-box;
      }
      .skeleton-wrapper {
        display: flex;
        gap: 16px;
      }

      .review-skeleton-card {
        width: 380px;
        height: 460px;
        padding: 8%;
        border-radius: 8px;
        background: #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: pulse 1.6s infinite ease-in-out;
      }

      .skeleton-text {
        background: #ddd;
        border-radius: 4px;
        margin-bottom: 10px;
        &.short {
          width: 60%;
          height: 14px;
        }
        &.long {
          width: 90%;
          height: 14px;
        }
      }

      @keyframes pulse {
        0% {
          background-color: #eee;
        }
        50% {
          background-color: #ddd;
        }
        100% {
          background-color: #eee;
        }
      }
      .ReviewSwipe {
        width: 100%;
        padding: 4%;
        .review-card {
          width: 380px;
          height: 460px;
          padding: 8%;
          border-radius: 20px;
          box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include tablet {
            width: 340px;
            min-height: 380px;
            height: auto;
          }
          @include mobile {
            width: 200px;
            min-height: 280px;
            height: auto;
          }
          .review-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 20; // 원하는 줄 수로 설정
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.3s ease;

            &.expanded {
              -webkit-line-clamp: unset;
              display: block;
            }
          }

          .toggle-button {
            background: none;
            border: none;
            color: #007aff;
            font-size: 14px;
            cursor: pointer;
            margin-top: 8px;
            align-self: flex-end;
          }
          p {
            line-height: 1.3;
          }
        }
      }
    }
  }
}
