@import "../styles/variables";
@import "../styles/media";

footer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: auto;
  padding: 10% 5%;
  gap: 5%;
  position: relative;
  background-color: #fff;
  @include tablet {
    flex-direction: column;
    align-items: center;
    gap: 20%;
  }
  h1.main-h1 {
    font-size: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $ieum-main;
    filter: blur(1);
    opacity: 0.1;
    z-index: 9;

    @include tablet {
      font-size: 5rem;
    }
    @include mobile {
      font-size: 3rem;
    }
  }
  .main-h2 {
    font-weight: 400;
    color: $ieum-main;
  }
  .profile {
    width: 80%;
    padding-left: 5%;
    @include tablet {
      padding-left: 0%;
      margin-bottom: 5%;
    }
    @include mobile {
      width: 100%;
    }
    .profile-list {
      display: flex;
      margin-top: 10%;
      ul {
        li {
          margin: 20px 10px;
          display: flex;
          gap: 10%;
          a {
            color: #333;
          }
        }
        &.title {
          width: 20%;
          color: $ieum-main;
          margin-right: 5%;
          @include mobile {
            width: 30%;
          }
          li {
            border-right: 2px solid $ieum-main;
          }
        }
      }
    }
  }
  .faq {
    margin-bottom: 3%;
    width: 80%;
    @include mobile {
      width: 100%;
    }
    .faqlist {
      z-index: 999;
      width: 100%;
      line-height: 80px;
      box-shadow: $shadow;
      border-radius: 20px;
      padding: 0 3%;
      margin: 30px 0;
      background-color: #fff;
      @include mobile {
        width: 100%;
        line-height: 30px;
        padding: 3%;
      }
    }
  }
}
