@import "../styles/variables";
@import "../styles/media";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.25);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include tablet {
    align-items: flex-end;
    flex-direction: column-reverse;
    padding: 1%;
  }
  button {
    margin-top: 5%;
    margin-left: 2%;
    @include tablet {
      margin-top: 2%;
    }
  }
  .modal-content {
    max-width: 1620px;
    width: 80%;
    max-height: 80vh; // 중요!
    overflow-y: auto; // 이거 있어야 스크롤 돼!
    background-color: #fff;
    border-radius: 12px;
    margin-top: 5%;
    z-index: 99999;
    &::-webkit-scrollbar {
      width: 10px; // 세로 스크롤바만 적용
      height: 0; // 가로 스크롤바 제거 (추가 보완)
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $ieum-point;
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: lighten(#fc6713, 10%);
    }

    &::-webkit-scrollbar-button {
      display: none; // 화살표 버튼 제거
    }
    img {
      width: 100%;
      @include tablet {
        margin: 10% 0;
      }
    }
    .top {
      display: flex;
      padding: 2%;
      gap: 5%;
      @include tablet {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      img {
        max-width: 680px;
        max-height: 380px;
        border-radius: 20px;
        margin: 0;
        @include tablet {
          max-width: 100%;
        }
      }
      .description-box {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 2% 0;
        @include tablet {
          width: 100%;
          margin-top: 5%;
          padding: 0 4%;
        }
        li {
          line-height: 1.5;
          color: $gray7;
        }
        .description {
          color: $ieum-bing-main;
        }
        a {
          text-align: right;
        }
        .main-h6 {
          color: $gray6;
        }
      }
    }
    .content {
      padding: 3% 0;
      text-align: center;
    }
    #bingfree {
      .highlight {
        background: linear-gradient(to top, #fee274 50%, transparent 50%);
      }
      .main-h5 {
        font-weight: 300;
        line-height: 1.5;
        margin: 3% 0;
        b {
          font-weight: 600;
        }
      }
      .main-h4 {
        margin: 5% 0;
      }
      .main-h3 {
        margin: 5% 0;
      }
      .solution-list {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
        margin: 5% auto;
        @include tablet {
          margin-top: 2%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
        }
        @include mobile {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
        .solution-card {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 90%;
          height: 9rem;
          background-color: #fff;
          box-shadow: $shadow;
          border-radius: 20px;
          margin: 5% 0 10%;
          @include tablet {
            justify-content: space-between;
            padding: 3% 3% 8%;
          }
          .main-h5 {
            color: #ff0000;
            font-weight: 500;
          }
          .main-h6 {
            font-weight: 300;
          }
        }
      }
      .demo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
        padding: 5%;
        margin-bottom: 10%;
        @include tablet {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 5%;
        }
        video {
          width: 100%;
          height: 80%;
        }
        img {
          width: 100%;
        }
        .demo1,
        .demo2,
        .demo3,
        .demo4 {
          display: flex;
          flex-direction: column;
          gap: 5%;
        }
        .demo-description.description {
          font-weight: 400;
          &:last-child {
            margin-bottom: 10%;
          }
        }
      }
    }
    #gumi {
      .main-h4 {
        padding: 5% 0 2%;
      }
      .charts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        padding: 0 0 5%;
      }
      .arrow {
        margin: 10% auto 3%;
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeSlideDown 2s ease-out forwards infinite;
      }

      @keyframes fadeSlideDown {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .solution-list {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
        margin: 5% auto;
        @include tablet {
          margin-top: 2%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
        }
        @include mobile {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
        .solution-card {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 90%;
          height: 9rem;
          background-color: #fff;
          box-shadow: 0 4px 12px rgba($color: $ieum-gumi-main, $alpha: 0.25);
          border-radius: 20px;
          margin: 5% 0 10%;
          @include tablet {
            justify-content: space-between;
            padding: 3% 3% 8%;
          }
          .main-h5 {
            color: $ieum-gumi-main;
            font-weight: 500;
          }
          .main-h6 {
            font-weight: 300;
          }
        }
      }
      .gumi_3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3%;
        img {
          width: 49%;
        }
      }
    }
  }
}
